@mixin minmaxwh($size) {
  width: $size !important;
  min-width: $size !important;
  max-width: $size !important;
  height: $size !important;
  min-height: $size !important;
  max-height: $size !important;
}

@mixin ease-transition($duration: 150ms) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin escalar($cant) {
  -moz-transform: scale($cant);
  -webkit-transform: scale($cant);
  -o-transform: scale($cant);
  -ms-transform: scale($cant);
  transform: scale($cant);
}

@mixin sombra($sombra) {
  -webkit-box-shadow: $sombra;
  box-shadow: $sombra;
}

@mixin not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin grayscale($porcentaje) {
  filter: grayscale($porcentaje);
  -webkit-filter: grayscale($porcentaje);
}
@mixin sombra-arrojada($sombra) {
  filter: drop-shadow($sombra);
  -webkit-filter: drop-shadow($sombra);
}
