$btXS: 575px;
$btSM: 576px;
$btMD: 768px;
$btMidMD: 800px;
$btLG: 992px;
$btXL: 1199px;
$btXXL: 1400px;

$mqMobileL: 425px;
$mqMobileM: 375px;
$mqMobileS: 320px;

$colorAzulBase: #1581da;
$colorAzulBaseOpaco: #478bba;
$colorAzulBaseOpacoClaro: #84abec;
$colorAzulBasePastel: #3c80af;
$colorAzulPastelOscuro: #225fa2;
$colorAzulPastelOscuro2: #013d66;
$colorAzulPastelMedio: #0372a3;
$colorAzulMedio: #145fda;
$colorAzulMedio2: #4487a7;
$colorAzulOscuro: #012545;
$colorCelesteBase: #00b5f1;
$colorCelesteAgua: #d8e6f0;
$colorGrisBase: #f3f3f3;
$colorGrisClaro: #e3e3e3;

/*$fontMontserratAlternatesRegular: "MontserratAlternates-Regular";
$fontMontserratRegular: "Montserrat-Regular";
$fontMontserratBold: "Montserrat-Bold";
$fontMontserratExtraBold: "Montserrat-ExtraBold";
$fontMontserratLight: "Montserrat-Light";
$fontQuartoLight: "Quarto-Light";
$fontQuartoLightItalic: "Quarto-LightItalic";
$fontNunitoSemiBold: "Nunito-SemiBold";*/
$fontGibson: "Gibson";

$fontUbuntuB: "Ubuntu-B";
$fontUbuntuBI: "Ubuntu-BI";
$fontUbuntuC: "Ubuntu-C";
$fontUbuntuL: "Ubuntu-L";
$fontUbuntuLI: "Ubuntu-LI";
$fontUbuntuM: "Ubuntu-M";
$fontUbuntuMI: "Ubuntu-MI";
$fontUbuntuR: "Ubuntu-R";
$fontUbuntuRI: "Ubuntu-RI";
